<div class="top-nav">
  <ul class="nav-item">
    <li class="icon-circle"><i class="fas fa-circle"></i></li>
    <li><i class="fas fa-house"></i></li>
    <li><i class="fas fa-chart-column"></i></li>
    <li><i class="fas fa-layer-group"></i></li>
    <li><i class="fas fa-clone"></i></li>
    <li><i class="fas fa-chart-pie"></i></li>
    <li><i class="fas fa-users"></i></li>
  </ul>
</div>

<div class="bottom-nav">
  <ul class="nav-item">
    <li><i class="fas fa-border-all"></i></li>
  <li><i class="fas fa-gear"></i></li>
  </ul>
  <div class="profile-avatar">
    <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Profile" class="avatar" />
    <div class="edit-icon">
      <i class="fas fa-cube"></i>
    </div>
  </div>
</div>
