/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@forward '../src/app/styles/mixins';
// @forward 'styles/mixins';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Inter', sans-serif;;  
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
