<!-- <div class="navbar"> -->
  <div class="navbar">
    <h2>Welcome back, Olivia</h2>
    <div class="actions">
      <a alt="search"><i class="fas fa-search"></i></a>
      <button class="btn-customize">
        <i class="fas fa-sliders"></i>
        Customize</button>
      <button class="btn-export">
        <i class="fas fa-cloud-upload-alt"></i>
        Export</button>
    </div>
  </div>

    <!-- <div class="navbar-left">
      <h2 class="page-title">Dashboard</h2>
    </div>
  
    <div class="navbar-right">
      <div class="welcome-text">
        <div class="greeting">Welcome back 👋</div>
        <div class="username">John Doe</div>
      </div>
      <img src="assets/avatar.png" alt="User Avatar" class="avatar" />
    </div> -->
  <!-- </div> -->
  