<ngx-charts-bar-vertical-stacked
  [view]="[1000, 215]"
  [results]="chartData"
  [scheme]="colorScheme"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="false"
  [xAxisLabel]="'Month'"
  [yAxisLabel]="'Security rating'"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [barPadding]="30"
  [showGridLines]="true"
  [animations]="true"
  [tooltipDisabled]="false"
  [gradient]="false"
  [yScaleMax]="100"
  [yAxisTickFormatting]="formatYAxis"
  [yAxisTicks]="[0, 20, 40, 60, 80, 100]"
>
</ngx-charts-bar-vertical-stacked>
